.archive {
    .primary-featured-post {
        h5.top-tag {
            a {
                color: @gray;
            }
        }
    }
    .secondary-featured-post {
        h5.top-tag {
            margin-top: 10px;
            a {
                color: @gray;
            }
        }
    }
}