.entry-content {
  margin-top: 5rem;
  color: @darkgray;
  a {
    text-decoration: underline;
    &:hover {
      color: @brand;
      background-color: @cream;
      text-decoration: none;
    }
  }
}

// we need to match all post types, 
// not just `body.normal.single-post article.post>header` as largo does by default
body.normal.single article>header {
  clear: both;
  margin: 24px 17.0213%;
  position: relative;
}

.photo-header-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 675px;
  height: max-content;
  margin-left: calc(50% - 50vw) !important;
  max-width: 100vw;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0!important;
  &.no-photo {
    @media (max-width: 768px) {
      .featured-image-container-content {
        padding: 40px 0;
      }
    }
  }
  @media (max-width: 768px) {
    display: block;
    background: @black;
    background-image: none!important;
    min-height: auto;
  }
  .featured-image-bg-layer {
    background-color: rgba(0,0,0,0.62);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .featured-image-container-content {
    z-index: 1;
    max-width: inherit;
    @media (max-width: 768px) {
      padding-bottom: 40px;
    }
    .featured-image-container-mobile-image {
      margin-bottom: 30px;
      @media (min-width: 768px) {
        display: none;
      }
    }
    .top-categories {
      text-align: center;
      h5.top-tag {
        color: @mint-green;
        display: inline;
        position: relative!important;
        text-align: center;
        margin-bottom: 0;
        width: 90%;
        margin: 0 auto;
        @media (max-width: 768px) {
          text-align: left;
        }
        a {
          color: @mint-green;
          font-family: @font-headline;
          &:hover {
            text-decoration: none;
          }
        }

        & + h5.top-tag::before {
          display: inline;
          content: ' | ';
          white-space: pre;
          color: @gray;
        }
      }
    }
    .entry-title {
      color: @white;
      font-family: @font-headline;
      font-weight: 600;
      font-size: 44px;
      line-height: 1.2;
      text-align: center;
      max-width: 90%;
      margin: 0 auto 30px;
      @media (min-width: 786px) {
        max-width: 70%;
        font-size: 56px;
      }
      @media (max-width: 768px) {
        text-align: left;
      }
    }
    .byline {
      color: @white;
      text-align: center;
      font-size: 20px;
      font-family: @font-headline;
      max-width: 90%;
      margin: 0 auto;
      @media (max-width: 768px) {
        text-align: left;
      }
      .by-author {
        text-transform: uppercase;
        .author {
          font-weight: inherit;
          a {
            color: @white;
            &:hover {
              color: @white;
              text-decoration: none;
            }
          }
        }
      }
      .edit-link {
        display: block;
        a {
          color: @white;
        }
        @media (max-width: 768px) {
          padding-left: 0!important;
        }
      }
    }
    .photo-header-social-links {
      text-align: center;
      list-style: none;
      margin-top: 40px;
      margin-left: auto !important;
      margin-right: auto !important;
      @media (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        max-width: 90%;
      }
      .largo-follow.post-social {
        span {
          background: none!important;
          margin: 0 15px;
          @media (max-width: 768px) {
            margin: 0 10px;
            &:first-of-type {
              margin-left: 0;
            }
          }
          a {
            padding: 0;
            i {
              color: @white;
              background: @orange;
              border-radius: 50%;
              text-align: center;
              line-height: 10px;
              vertical-align: middle;
              font-size: 14px;
              padding: 10px;
              @media (max-width: 768px) {
                font-size: 12px;
              }
              &:before {
                margin: 0 .2em;
              }
              &.icon-mail {
                &:before {
                  display: inline;
                }
              }
            }
          }
        }
        .more-social-links,
        .hidden-phone {
          display: none;
        }
      }
    }
  }
}

.single-post-newsletter-signup-widget {
  .single-post-newsletter-signup-widget-container {
    display: flex;
    align-items: center;
    background: @black;
    @media (max-width: 768px) {
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .column {
      flex: 1;
      max-height: 400px;
      @media (max-width: 768px) {
        flex: auto;
        width: 100%;
        position: relative;
        &.single-post-newsletter-signup-widget-signup-section {
          order: 2;
        }
        &.single-post-newsletter-signup-widget-image-section {
          order: 1;
        }
      }
    }
    .single-post-newsletter-signup-widget-signup-section {
      color: @white;
      padding: 40px;
      p {
        color: @gray;
        font-size: 16px;
      }
      #mc_embed_signup {
        .mc-field-group,
        .clear {
          display: inline-block;
        }
        .mce-responses {
          display: none;
        }
        .mc-field-group {
          width: 75%;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        .email {
          height: 48px;
          padding: 0;
          margin: 0;
          width: 100%;
          max-width: 100%;
          border-color: @orange;
          text-indent: 20px;
          background: transparent;
          color: @white;
          &::placeholder {
            color: @white;
          }
        }
        .mce_inline_error {
          &[for="mce-EMAIL"] {
            max-width: 95.5%;
          }
        }
        #mc-embedded-subscribe {
          height: 50px;
          margin-left: -2px;
          background: @orange;
          border-color: @orange;
          color: @white;
          font-family: @font-headline;
          text-transform: uppercase;
          font-size: 14px;
          width: 100%;
        }
        .clear {
          width: 20%;
          margin-left: 0px;
          vertical-align: top;
          @media (max-width: 768px) {
            width: 100%;
            #mc-embedded-subscribe {
              margin-left: 0;
              margin-top: 20px;
            }
          }
          &#mce-responses {
            width: auto;
            margin-left: 0;
          }
        }
      }
      
    }
    .single-post-newsletter-signup-widget-image-section {
      img {
        max-height: inherit;
        height: 100%;
      }
    }
  }
}
