body {
  color: @text;
  font-family: @font-body;
}
a {
  color: @brand;
  &:hover {
    color: @brand;
  }
}

// the fonts
.navbar,
.footer-credit,
h1, h2, h3, h4, h5, h6 {
  font-family: @font-headline;
}
.navbar,
h5.top-tag,
h5.byline,
h3.widgettitle {
  font-weight: 400;
}
h1.entry-title {
  font-weight: 700;
}
blockquote {
  font-weight: 700;
}

.wp-block-pullquote,
.wp-block-pullquote.alignwide,
.wp-block-pullquote.alignfull,
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
  text-align: left;
}
@media (min-width: 769px) and (max-width: 979px) {
  .wp-block-pullquote.alignleft {
    // 36px = left+right padding on #page
    // 6.38297872% = left/right padding on section.entry-content
    margin-left: calc( (100vw - 36px) * 0.0638297872 * -1 );
  }
  .wp-block-pullquote.alignright {
    // 36px = left+right padding on #page
    // 6.38297872% = left/right padding on section.entry-content
    margin-right: calc( (100vw - 36px) * 0.0638297872 * -1 );
  }
}
@media (min-width: 980px) {
  .wp-block-pullquote.alignleft {
    // copied from Largo .alignwide
    margin-left: ~"calc(-0.5 * (95vw * 0.17021276594) )";
  }
  .wp-block-pullquote.alignright {
    // copied from Largo .alignwide
    margin-right: ~"calc(-0.5 * (95vw * 0.17021276594) )";
  }
}
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
  max-width: 50%;
  p {
    font-size: inherit;
  }
}
.wp-block-pullquote blockquote,
.pull-quote,
blockquote.pull-quote,
.type-pull-quote,
blockquote.type-pull-quote {
  font-family: @font-headline;
  font-style: normal;
  line-height: 1.3;
  border: none;

  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1ch;
  padding-right: 1ch;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  p {
    text-transform: uppercase;
  }
  p,
  cite {
    font-style: normal;
    font-size: inherit;
  }

  // override Largo; see https://github.com/INN/largo/issues/1748
  &::before,
  &::after {
    display: none;
  }
  > :first-child::before {
    content: "\201C";
    display: inline-block;
    width: 1ch;
    height: 1ch;
    margin-left: -1ch;
    color: @darkgreen;
  }
  > p:last-of-type::after {
    content: "\201D";
    display: inline-block;
    width: 1ch;
    height: 1ch;
    margin-right: -1ch;
    color: @darkgreen;
  }
}
.wp-block-pullquote {
  border-top-width: 4px;
  border-top-style: solid;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
// override "is-style-solid-color" styles
.wp-block-pullquote.is-style-solid-color {
  border: solid transparent 1px;
  blockquote {
    border-top-width: 4px;
    border-top-style: solid;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-color: @black;
    max-width: 80%;
    margin: 2em auto;
    > :first-child::before,
    > p:last-of-type::after {
      color: @orange;
    }

    p {
      font-size: inherit;
    }
  }
}
