// colors
@green: #70e36c;
@mint-green: #7BE2B6;
@white: white;
@black: black;
@orange: #ca4f04;
@cream: #f8f4f2;
@gray: #343434;

// named colors:
@text: @black;
@brand: @orange;

// fonts
@font-headline: "PT Sans Narrow Bold", "Oswald", sans-serif;
@font-body: "Avenir Next", Arial, sans-serif;
