#homepage-sidebar {
  .largo-recent-posts {
    .mediaplay {
      border-bottom: 1px solid @gray;
      margin-left: 1.5rem;
    }
  }
}

.largo-recent-posts {
  > ul {
    margin: 0;
    li {
      :last-child {
        margin-bottom: 0;
      }
    }
  }
  img.attachment-large {
    margin-bottom: @whitespace;
    padding: 0;
  }
  h5, p {
    padding-left: @whitespace;
    padding-right: @whitespace;
  }
  h5.top-tag {
    margin-top: @whitespace;
    a {
      font-size: 18px;
      font-weight: 400;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h5 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    a {
      color: @black;
    }
  }
  p {
    color: @darkgray;
  }

  // Stuff for the "more" button
  @circlesize: 1.75em;
  .mediaplay {
    font-family: @font-headline;
    color: @black;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: @circlesize;
    margin-right: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
    a {
      display: table-cell;
      vertical-align: middle;
      color: @black;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      .encircle {
        border-color: @black;
        background-color: @white;
        color: @black;
      }
    }
  }
  .encircle {
    box-sizing: border-box;
    * {
      box-sizing: border-box;
    }
    padding-left: 0.2em;
    padding-top: 1px;
    display: inline-block;
    vertical-align: middle;
    height: @circlesize;
    width: @circlesize;
    line-height: calc( @circlesize - 2px );
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    border: 1px solid @orange;
    color: @orange;
    margin-right: 0.5em;
  }

  p.morelink {
    width: calc( 100% - @whitespace - @whitespace );
    margin: 0 auto;
    line-height: 2.5em;
    text-align: center;
    border: 1px solid @orange;
    text-transform: uppercase;
    color: @black;
    margin-top: 30px;
    margin-bottom: 5px;
    a {
      color: @black;
    }
    font-family: @font-headline;
    box-sizing: border-box;
    &:hover {
      border-color: @black;
      background-color: @white;
      a {
        color: @black;
        text-decoration: none;
      }
    }
  }

  padding-bottom: @whitespace;
}

// these styles are on the assumption that it's being used in a widget that's the full width of the page.
.widget.saved-links {
  .post-lead:first-of-type {
    clear: left;
  }
  div.post-lead {
    max-width: 25%;
    width: 25%;
    box-sizing: border-box;

    padding-left: @whitespace;
    padding-right: @whitespace;

    // override .clearfix
    float: left;
    clear: none;
    &::before, &::after {
      display: none;
    }

    & + .post-lead {
      border-left: 1px solid @gray;
    }

    img.wp-post-image {
      margin: 0 auto @whitespace;
      display: block;
      float: none;
    }
    h5 a {
      color: @black;
    }
    h5 {
      margin-bottom: @whitespace * 0.5;
    }
    .source {
      font-family: @font-headline;
    }
    .source-label {
      display: none;
    }

    @media (max-width: 700px) {
      width: 50%;
      max-width: 50%;
      &:nth-of-type( 2n + 1 ) {
        clear: left;
        border-left: none;
      }
    }
  }
}

.workday-related-posts {
  .widgettitle {
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
    font-family: @font-headline;
    font-weight: 600;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    li {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0;
      }
      .workday-related-post-thumbnail {
        height: 150px;
        .wp-post-image {
          width: 100%;
          height: 100%;
          max-height: 100%;
        }
      }
      h5.top-tag {
        margin-top: 25px;
        a {
          font-size: 18px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      h4 {
        margin-bottom: 10px;
        a {
          color: @black;
          font-size: 28px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      p {
        color: @darkgray;
      }
    }
    @media (max-width: 768px) {
      display: block;
      li {
        margin-right: 0;
        .workday-related-post-thumbnail {
          height: auto;
          .wp-post-image {
            max-height: auto;
          }
        }
      }
    }
  }
}