@import (reference) '../../../less/vars.less';

#featured {
  margin-top: 4em;
}
#substory {
	article {
		margin-bottom: @whitespace;
		img {
			margin-bottom: @whitespace;
		}
		.top-tag,
		.top-tag a {
			color: @orange;
		}
		h2 {
			a {
				color: @black;
			}
			margin-bottom: 0.5em;
		}
	}
}
#homepage-sidebar {
  .widget {
    background-color: @cream;
  }
  .widgettitle {
    text-align: center;
  }
}
